.formily-form {
  :global(.ant-form-item) {
    margin-bottom: 5px !important;
  }

  :global(.ant-formily-item-feedback-layout-loose) {
    margin-bottom: 0;
  }
}

.form-spin {
  display: block;
  margin: 150px 0;
}

:global(.ant-formily-array-table
    .ant-table
    td
    .ant-formily-item:not(.ant-formily-item-feedback-layout-popover)
    .ant-formily-item-help) {
  position: static;
  line-height: 1em;
}

.validate-settings {
  :global(.ant-checkbox-group .ant-checkbox-group-item) {
    display: flex;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.settings-card {
  :global(.ant-formily-item) {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 10px;
  }
}
